@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: nunito;
    src: url("../fonts/NunitoSans_10pt-Regular.ttf");
}

body {
    font-family: nunito;
}

.gradient {
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(2, 0, 36);
    background: radial-gradient(
        circle,
        rgba(2, 0, 36, 1) 0%,
        rgba(30, 129, 196, 1) 71%,
        rgba(0, 212, 255, 1) 100%
    );
    background-size: cover, cover, auto;
    background-position: center, center, 50% 50%;
    background-repeat: no-repeat;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
@layer base {
    /* width */
    ::-webkit-scrollbar {
        @apply w-1.5;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        @apply bg-inherit;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-gray-300 rounded-xl;
    }
}

select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
    background-position: 100%;
    background-repeat: no-repeat;
}

/* Remove number input arrows – Chrome, Safari */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input arrows – Firefox */
.no-spinner[type='number'] {
  -moz-appearance: textfield;
}

